<!-- <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle ">
    <div class="container">
      <div class="row"> -->
        <!-- <div class="col-md-3 col-sm-6">
        
          <div class="footer-pad">
            <h4>Support Us</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
         
          <div class="footer-pad">
            <h4>About Us</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
         
          <div class="footer-pad">
            <h4>Heading 3</h4>
          </div>
        </div> -->
        <!-- <div class="col-md-3 mx-auto abc" style="width: 200px;">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle abc">
               <li><a href="https://www.facebook.com/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/login" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li> <a href="https://api.whatsapp.com/send?phone=919006538880" class="icoFacebook" title="Whatsapp"><i class="fa fa-whatsapp "></i> </a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2020 -MusixApp.  All rights reserved.</p>
          </div>
      </div>
    </div>
    </div>
  </footer> -->

  <footer class="container-fluid " style="background-color: rgb(21, 26, 24);color: aliceblue;">
    <div style="padding-top: 9px;" class="text-center">
          <a href="https://twitter.com/login" style="color: aliceblue;"><i class="fa fa-twitter" style="font-size:25px;padding-right: 10px;"></i></a>
          <a href="https://www.facebook.com/" style="color: aliceblue;">  <i class="fa fa-facebook-f" style="font-size:25px;padding-right: 10px;"></i></a>
          <a href="https://www.linkedin.com/" style="color: aliceblue;">   <i class="fa fa-linkedin" style="font-size:25px;padding-right: 10px;"></i></a>
          <a href="https://www.instagram.com/?hl=en" style="color: aliceblue;">   <i class="fa fa-instagram" style="font-size:25px"></i></a>
    </div>
    <div style="padding-bottom: 10px;padding-top: 10px;">
         <h4 class="text-center">&copy; Copyright @2020-MusixApp</h4>
         <section class="d-flex justify-content-around"><h3><b>Team6:</b> Abhishek Kumar, Kunal Patil, Suyog Mahajan </h3> <h3><b> Guided by:</b>Mr Janakiram S.</h3></section>
    </div>
  </footer>