<app-header></app-header> 
<!-- Header -->


<div class="col-lg-12 control-section">
    <div class="sample_container">
        <!-- Card Component -->
        <div class="e-card e-custom-card">
            <div> <img src="../assets/images/music2.jpg" style="width:100%;"></div>
            <div class="e-card-header">
                <div class="e-card-header-caption center">
                    <div class="e-card-header-title name"> <h1><button><a routerLink="/hindi">Hindi Playlist</a></button></h1>&nbsp;</div>
                   
               
            </div>
           
        </div>
    </div>

</div>
<div class="col-lg-12 control-section">
    <div class="sample_container">
        <!-- Card Component -->
        <div class="e-card e-custom-card">
            <div> <img src="../assets/images/music2.jpg" style="width:100%;"></div>
            <div class="e-card-header">
                <div class="e-card-header-caption center">
                    <div class="e-card-header-title name"> <h1><button><a routerLink="/english">English Playlist</a></button></h1></div>
                   
               
            </div>
           
        </div>
    </div>

</div>


<app-footer></app-footer>
<!-- Footer -->

<!-- <h1><button><a routerLink="/hindi">Hindi Playlist</a></button></h1>&nbsp; -->
<!-- <h1><button><a routerLink="/english">English Playlist</a></button></h1> -->
<router-outlet></router-outlet>